<!-- Eingabefelder zum Erstellen und bearbeiten von Blöcken -->
<div
    id="block-fields"
    data-block-type="{% if selected_page_block %}{{ selected_page_block.block_id.block_type }}{% endif %}"
>

    <!-- Eingabe für Text, Button und Überschrift -->
    <div class="block-field mb-3" id="text-area"
        data-block-type="heading text button" hidden
    >
        <label for="block-text" class="form-label">Text</label>
        <textarea
            id="block-text"
            name="text"
            class="form-control"
            rows="3"
            data-required="true">
            {{ selected_page_block.block_id.config.text|default_if_none:"" }}
        </textarea>
    </div>

    <!-- Eingabe für größe der Schrift (Überschrift) -->
    <div class="block-field mb-3" id="level-area">
        <label for="block-level" class="form-label">Überschriftenebene</label>
        <input
                type="number"
                class="form-control"
                id="block-level"
                name="level"
                min="1"
                max="6"
                value="{{ selected_page_block.block_id.config.level|default:"2" }}"
                data-required="true"
        >
    </div>

    <!-- Eingabe für Alignment für Überschrift, Text und Bild -->
    <div class="block-field mb-3" id="alignment-area">
        <label for="block-alignment" class="form-label">Ausrichtung</label>
        <select
            class="form-select"
            id="block-alignment"
            name="alignment"
            data-required="true"
        >
            <!-- Optionen für text -->
            <option
                value="left"
                data-block-types="heading text"
                {% if selected_page_block.block_id.config.alignment == "left" %}selected{% endif %}
            >
                left
            </option>
            <option
                value="right"
                data-block-types="heading text"
                {% if selected_page_block.block_id.config.alignment == "right" %}selected{% endif %}
            >
                right
            </option>
            <option
                value="justify"
                data-block-types="heading text"
                {% if selected_page_block.block_id.config.alignment == "justify" %}selected{% endif %}
            >
                justify
            </option>
            <!-- für beide anwendungsfälle -->
            <option
                value="center"
                data-block-types="heading text image"
                {% if selected_page_block.block_id.config.alignment == "center" %}selected{% endif %}
            >
                center
            </option>
            <!-- optionen für Bild -->
            <option
                value="flex-start"
                data-block-types="image"
                {% if selected_page_block.block_id.config.alignment == "flex-start" %}selected{% endif %}
            >
                flex-start
            </option>
            <option
                value="flex-end"
                data-block-types="image"
                {% if selected_page_block.block_id.config.alignment == "flex-end" %}selected{% endif %}
            >
                flex-end
            </option>
        </select>
    </div>

    <!-- caption für Bild -->
    <div id="caption-area" class="block-field mb-3"
         data-block-types="image" hidden
    >
        <label for="block-caption" class="form-label">
            Bildunterschrift
        </label>

        <input
                id="block-caption"
                type="text"
                name="caption"
                class="form-control"
                value="{{ selected_page_block.block_id.config.caption|default_if_none:"" }}"
        >
    </div>

    <!-- Eingabe für die width (Bild) -->
    <div class="block-field mb-3" id="width-area" data-block-type="image" hidden>
        <label for="block-width" class="form-label">Breite</label>
        <input
            id="block-width"
            type="text"
            name="width"
            class="form-control"
            value="{{ selected_page_block.block_id.config.width|default:"auto" }}"
            placeholder="z. B. 100%, 320px oder auto"
            data-required="true"
        >
    </div>

    <!-- Eingabe für die Höhe -->
    <div class="block-field mb-3" id="height-area" data-block-type="image" hidden>
        <label for="block-height" class="form-label">Höhe</label>

        <input
            id="block-height"
            type="text"
            name="height"
            class="form-control"
            value="{{ selected_page_block.block_id.config.height|default:"auto" }}"
            placeholder="z. B. 100%, 320px oder auto"
            data-required="true"
        >
    </div>

    <!-- Auswahl eines Bildes -->
    <div class="block-field mb-3" id="media-area" data-block-type="image" hidden>
        <label for="block-media" class="form-label">Bild auswählen</label>
        <select class="form-select" id="block-media" name="media_id" data-required="true">
            <option value="">Bitte ein Medium auswählen</option>

            {% for medium in media %}
                <option value="{{ medium.id }}"
                {% if medium.id == selected_block_medium.id %}selected{% endif %}>
                    {{ medium.title }}
                </option>
            {% endfor %}
        </select>
    </div>

    <!-- Eingabe für URL -->
    <div class="block-field mb-3" id="url-area" data-block-type="button" hidden>
        <label for="block-url" class="form-label">Ziel-URL</label>
        <input
                id="block-url"
                type="text"
                class="form-control"
                name="url"
                value="{{ selected_page_block.block_id.config.url|default_if_none:'' }}"
                data-required="true"
        >
    </div>

    <!-- Eingabe für Button style -->
    <div class="block-field mb-3" id="style-area" data-block-type="button" hidden>
        <label for="block-button-style" class="form-label">Button-Style</label>
        <select
                class="form-select"
                id="block-button-style"
                name="button-style"
                data-required="true"
        >
            <option
                value="primary"
                {% if selected_page_block.block_id.config.style == "primary" %}selected{% endif %}>
                    primary
                </option>
            <option
                value="secondary"
                {% if selected_page_block.block_id.config.style == "secondary" %}selected{% endif %}>
                    secondary
            </option>
            <option
                value="success"
                {% if selected_page_block.block_id.config.style == "success" %}selected{% endif %}>
                    success
                </option>
            <option
                value="danger"
                {% if selected_page_block.block_id.config.style == "danger" %}selected{% endif %}>
                    danger
            </option>
            <option
                value="warning"
                {% if selected_page_block.block_id.config.style == "warning" %}selected{% endif %}>
                    warning
            </option>
        </select>
    </div>
</div>